[Desktop Entry]
Type=Application
Icon=folder
Name=File Manager PCManFM
Name[tr]=Dosya Yöneticisi PCManFM
GenericName=File Manager
GenericName[tr]=Dosya Yöneticisi
Comment=Browse the file system and manage the files
Comment[tr]=Dosya sistemine göz at ve dosyaları yönet
Categories=System;FileTools;FileManager;Utility;Core;GTK;
Exec=pcmanfm %U
StartupNotify=true
Terminal=false
MimeType=inode/directory;
