[Desktop Entry]
Type=Application
Name=afad-baslangic
Comment=Afad baslangic ayarlari
Exec=/opt/afad/afad-baslangic
Icon=gtk-dialog-authentication
NotShowIn=GNOME;KDE;
OnlyShowIn=XFCE;
